body{
	
}
 a{
	text-decoration:none;
	color:#0088cc;

}
 ul{
	list-style: none;
	padding:0px;
	margin:0px;
	
}
.nav ul li{
	border-bottom:1px solid #cacaca;
}
.nav{
	width:200px;
	border:1px solid #cacaca;
}
.nav ul li a{
	padding:10px 5px;
	display:inline-block;
	width:100%;
	box-sizing:border-box;
}
.nav ul li a:hover
{
	background:#f2f2f2;
}
.carat{
	background:url('images/glyphicons-halflings.png') no-repeat -456px -71px;
	width:15px;
	height:15px;
	display:inline-block;
	float:right;

}
